@(title : String)(meter : Meter)

@import views.html.helper._

@if(flash.contains(DashboardController.DASHBOARD_FLASH_ERROR_KEY)) {
    		<div class="alert alert-danger" role="alert">
    			<button type="button" class="close" data-dismiss="alert">
    				<span aria-hidden="false"> 
    					@flash.get()
    				</span>
    				<span class="sr-only">
    					Close
    				</span>
    			</button>
    		</div>
    	}
    	
@if(flash.contains(DashboardController.DASHBOARD_FLASH_MESSAGE_KEY)) {
	<div class="alert alert-success" role="alert">
    	<button type="button" class="close" data-dismiss="alert">
    		<span aria-hidden="false">&times;</span>
    		<span class="sr-only">Close</span>
        </button>
     @flash().get(DashboardController.DASHBOARD_FLASH_MESSAGE_KEY)
                </div>
}

<div id="hc-container" style="min-width: 1000px; max-width: 1000px; height: 400px; margin: 0 auto"></div>
<pre id="heatmap-data">
Date,Time,Temperature


</pre>
