@(project: Project)(mode: String)(meterListPage: Html)(timeSeriesGui: Html)(meter : models.Meter = null)

@import views.html.commons._ 
@import views.html.helper._

@main("Project Page"){
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
		<h2>@project.title</h2>
			<ul class="nav nav-pills nav-stacked" id="#projectTabs" role="tablist">
				<li class="@("active".when(mode=="My Meters"))" role="presentation">
					<a data-toggle="tab" 
						href="#my-meters" 
						aria-controls="meters" role="tab">
						My Meters
					</a>
				</li>
				<li class="@("active".when(mode=="Meter Heat Map"))" role="presentation">
					<a data-toggle="tab" href="#heatmap" aria-controls="heatmap"
						role="tab">
							Heatmap
					</a>
				</li>
				<li role="presentation"><a href='@routes.ProjectController.showDailyTimeSeries(meter.id)'>Time Series</a></li>
				<li role="presentation"><a href="#">Messages</a></li>
			</ul>
		</div>
		<div class="col-sm-12 col-sm-offset-2 col-md-12 main col-md-offset-0">
		 	<div class="tab-content">
		 		<div class="tab-pane" id="my-meters" role="tabpanel">
			 		@meterListPage
		 		</div>
		 		<div id="heatmap" class="tab-pane fade in active col-md-12" role="tabpanel">
		 		
		 		</div id="time-series">
		 			
			 	<div class="tab-pane fade in active col-md-12" id="other">
			 		@timeSeriesGui
			 	</div>
		 	</div>
	     </div>
	</div>
</div>

@*All the meter information is located here*@
<pre id="startYear" style="display: none">@meter.startYear</pre>
<pre id="startMonth" style="display: none">@meter.startMonth</pre>
<pre id="startDay" style="display: none">@meter.startDay</pre>
<pre id="endYear" style="display: none">@meter.endYear</pre>
<pre id="endMonth" style="display: none">@meter.endMonth</pre>
<pre id="endDay" style="display: none">@meter.endDay</pre>
<pre id="maxKWh" style="display: none">@meter.maxKWh</pre>
<pre id="minKWh" style="display: none">@meter.minKWh</pre>
@*<pre id="heatmap-data" style="display: none">Date,Time,Temperature

@if(meter == null){
	<h1>                 No meter passed</h1>
}else{@for(dataList <- meter.dataList){@dataList.getDateString,@dataList.getTime,@dataList.getKWh
}


}

</pre>
*@

<pre id="heatmap-data" style="display: none">@for(dailyData <- meter.dailyDataList){
		@dailyData.getDateValue
}
</pre>
}









