@()
<!-- Javascript -->
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>

<script type='text/javascript' src='@routes.Assets.at("bootstrap-datepicker/js/bootstrap-datepicker.js")'></script>

<script type='text/javascript' src='@routes.Assets.at("javascripts/newnergy.js")'></script>

<script type='text/javascript' src='@routes.Application.jsRoutes()' defer="defer"></script>

<script type="text/javascript" src='@routes.Assets.at("js/highcharts.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("js/modules/data.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("js/modules/heatmap.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("js/modules/exporting.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/heat-map-meter.js")'></script>

<script type="text/javascript" src='@controllers.routes.ProjectController.jsProjectRoutes()'></script>
