@(title : String)(dataList: List[models.Data])

@import views.html.helper._

@if(flash.contains(DashboardController.DASHBOARD_FLASH_ERROR_KEY)) {
    		<div class="alert alert-danger" role="alert">
    			<button type="button" class="close" data-dismiss="alert">
    				<span aria-hidden="false"> 
    					@flash.get()
    				</span>
    				<span class="sr-only">
    					Close
    				</span>
    			</button>
    		</div>
    	}
    	
@if(flash.contains(DashboardController.DASHBOARD_FLASH_MESSAGE_KEY)) {
	<div class="alert alert-success" role="alert">
    	<button type="button" class="close" data-dismiss="alert">
    		<span aria-hidden="false">&times;</span>
    		<span class="sr-only">Close</span>
        </button>
     @flash().get(DashboardController.DASHBOARD_FLASH_MESSAGE_KEY)
                </div>
}

	<h1 class="page-header">My Meter</h1>
	@form(action = routes.DashboardController.getMeterData("kWh"), 'enctype -> "multipart/form-data") {
		<div style="position:relative;">
        <button class='btn btn-primary' onchange='submit'>
            Choose File...
            <input type="file" 
            	style='position:absolute;
            	z-index:10;top:0;left:0; bottom:0;
            	filter: alpha(opacity=0);
            	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            	opacity:0;
            	background-color:transparent;color:transparent;' 
            	name="meter_data" size="0" id="meterFile" onchange="this.form.submit();">
        </button>
        </div>
	}
<div id="hc-container" style="min-width: 1000px; max-width: 1000px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript" charset="utf-8">
	function updateData(){
		alert("Bolivia dice no!");
	}
</script>

<!-- Source: http://vikjavev.no/ver/highcharts-demos/heatmap.csv.php?year=2013 -->
<pre id="csv" style="display: none">Date,Time,Temperature
@if(dataList == null){
2013-01-01,0,0}else{@for(data <- dataList){
@data.getDateString(),@data.getTime(),@data.getKWh()}</pre>
}
